* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    color: white;
    font-weight: normal;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: url("https://doc-14-8o-docs.googleusercontent.com/docs/securesc/n617m66428jj3l7hc0esttn3iacs77fh/60gd6hciatd8p89c69ll9rkjrqagvhkf/1600029150000/14691672896680955247/14691672896680955247/1opFVr9YlMWxDN1ZvKOqeL4XNCv9B-ibk?e=download&authuser=0");
    background-size: cover;
}

h1 {
    font-size: 4rem;
    text-align: center;
}